<header class="theme-main-menu theme-menu-two pt-40 pb-30 pt-md-20 pb-md-10">
    <div class="main-header-area" [class.sticky-menu]="isSticky">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-6">
                    <div class="hamburger-menu">
                        <a href="javascript:void(0);">
                            <span class="round-menu" (click)="openEnd()">
                                <span class="line"></span>
                            </span>
                            <span class="text">menu</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-6 d-none d-lg-inline-block text-center">
                    <div class="main-menu d-none">
                        <nav id="mobile-menu2">
                            <ul class="menu-list ps-0">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a routerLink="/">Home Style 1</a>
                                        </li>
                                        <li>
                                            <a routerLink="/index-2">Home Style 2</a>
                                        </li>
                                        <li>
                                            <a routerLink="/index-3">Home Style 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="about">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a routerLink="service">Services</a>
                                        </li>
                                        <li>
                                            <a routerLink="service-details">Services Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a routerLink="portfolio">Project</a>
                                        </li>
                                        <li>
                                            <a routerLink="project-details">Project
                                                Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a routerLink="blog-list">Blog</a>
                                        </li>
                                        <li>
                                            <a routerLink="blog-details">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="contact">contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="social-media-2">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="quote__btn text-end">
                        <a routerLink="contact" class="ht_btn">Start <span class="d-none d-md-inline-block"> A
                            </span> Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>