<main>
    <!--page-title-area start-->
    <div class="page-title-area pt-215 pb-30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 pe-lg-0">
                    <div class="page-title-wrapper text-lg-start text-center mb-40">
                        <h2 class="page-title mb-10 lh-1">Contact <span class="ms-xl-5 ps-xxl-5">With Us</span>
                        </h2>
                        <nav class="d-none" aria-label="breadcrumb">
                            <ul class="breadcrumb list-none justify-content-center justify-content-md-start">
                                <li><a routerLink="/">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li class="active" aria-current="page">Blog Details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-inline-block">
                    <div class="page-title-btn text-center mb-40">
                        <div class="button-2">
                            <a class="scroll-btn" href="#">
                                <img class="bg-round" src="assets/img/about/s-button-5.png" alt="shape">
                                <span class="icon">
                                    <i class="bi bi-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--page-title-area end-->


    <!--contact-section start-->
    <div class="contact-section pt-145 pb-100 pt-lg-60 pb-lg-15">
        <img src="assets/img/shape/square.svg" alt="" class="shape-01">
        <div class="container">
            <div class="row gx-4 gx-xxl-5">
                <div class="col-xl-4 col-lg-12">
                    <div class="contact-info-wrapper mb-45">
                        <h2 class="infos-title mb-5">Let’s Get Connect With Us</h2>
                        <div class="row gx-xl-0">
                            <div class="col-xl-12 col-md-6">
                                <div class="single-info-box mb-50">
                                    <div class="icon">
                                        <i class="bi bi-telephone"></i>
                                    </div>
                                    <span class="mb-10">(704) 555-0127</span>
                                    <span>(629) 555-0129</span>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-6">
                                <div class="single-info-box mb-50">
                                    <div class="icon">
                                        <i class="bi bi-geo-alt"></i>
                                    </div>
                                    <span class="mb-10">4140 Parker Rd. Allentown,</span>
                                    <span>New Mexico 31134</span>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-6">
                                <div class="single-info-box mb-50">
                                    <div class="icon">
                                        <i class="bi bi-envelope"></i>
                                    </div>
                                    <span class="mb-10">jackson.graham&#64;example.com</span>
                                    <span>michael.mitc&#64;example.com</span>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-6">
                                <div class="single-info-box mb-40">
                                    <div class="icon">
                                        <i class="bi bi-briefcase"></i>
                                    </div>
                                    <span class="mb-10">Starbucks</span>
                                    <span>Louis Vuitton</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="contact-wrapper mb-45">
                        <div class="row gx-4 gx-xxl-5 px-0 align-items-center mb-25">
                            <div class="col-xxl-8 col-md-7">
                                <div class="text-center text-md-start">
                                    <p class="mb-40">Holisticly coordinate user-centric resources
                                        through
                                        client centric content.
                                        Completely embrace intermandated mode for pandemic supply chains.</p>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-5">
                                <div class="text-center text-md-end media-social d-block mb-40">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a class="me-0" href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-map pb-30 mb-xxl-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14586.166746112083!2d90.38689255!3d23.941278099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1656070170544!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="comment-form">
                            <h3 class="post-title mb-30">Send Us Message</h3>
                            <form class="main-form" action="#">
                                <div class="row gx-4 gx-xxl-5 px-0">
                                    <div class="col-md-6 mb-10">
                                        <label class="label">Name</label>
                                        <input type="text" name="name" placeholder="Enter Name">
                                    </div>
                                    <div class="col-md-6 mb-10">
                                        <label class="label">Email Id</label>
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 mb-20">
                                        <label class="label">Comments</label>
                                        <textarea name="message" placeholder="Write Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="ht_btn border-0">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact-section end-->


    <!-- partners-section start -->
    <div class="white-bg partners-section">
        <div class="logos">
            <div class="logos-slide">
                <div class="items"> <img src="assets/img/brand/brand-1.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-2.png" alt="brand"></div>
                <div class="items"> <img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-3.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
            </div>
            <div class="logos-slide">
                <div class="items"> <img src="assets/img/brand/brand-1.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-2.png" alt="brand"></div>
                <div class="items"> <img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-3.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
            </div>
        </div>
    </div>
    <!-- partners-section end -->

    <!-- contact-section start -->
    <section class="black-bg contact-section pt-100 pb-100 pb-lg-30">
        <h2 class="wrapper-title text-white text-center mb-150 mb-lg-50">Book A Call</h2>
        <div class="left-img">
            <img class="w-100" src="assets/img/media/img-2.jpg" alt="author">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="main-form ms-xl-5">
                        <form action="#" class="ps-xl-4">
                            <label>Name</label>
                            <input type="text" placeholder="Enter your first name">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your e-mail">
                            <label>I’m Interested In</label>
                            <input type="text" placeholder="Enter your first name">
                            <label>Messageme</label>
                            <textarea cols="30" rows="10" placeholder="Write you message"></textarea>
                            <button class="ht-btn-four" type="submit"><i class="bi bi-send"></i> Send
                                Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
</main>