<div class="gear-box" [ngClass]="{'open-gear':isOpenGear}">
    <div class="icon" (click)="isOpenGear = !isOpenGear" >
        <span class="gear-icon"><i class="bi bi-gear"></i></span>
        <span class="close-icon"><i class="bi bi-x-lg"></i></span>
    </div>
    <h5 class="text-white fw-medium">Mode</h5>
    <div class="color-mode">
        <input type="checkbox" class="checkbox" id="checkbox" [(ngModel)]="isDarkMode" (ngModelChange)="onModeChange()">
        <label for="checkbox" class="checkbox-label">
            <i class="bi bi-moon-fill"></i>
            <i class="bi bi-sun-fill"></i>
            <span class="ball"></span>
        </label>
    </div>
    <ul class="nav-menu-list">
        <li><a routerLink="/">Home One</a></li>
        <li><a routerLink="/index-2">Home Two</a></li>
        <li><a routerLink="/index-3">Single Page</a></li>
    </ul>
</div>