<div class="main-page-wrapper">
    
    <app-gear-box></app-gear-box>

    <!-- preloader -->
    <!-- <div id="preloader" class="preloader-main">
        <div class="loader-wrapper">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div> -->
    <!-- preloader end  -->


    <!-- header-area start -->
    <app-index-2-header></app-index-2-header>
    <!-- header-area end -->

    <router-outlet></router-outlet>

    <!--footer-area start-->
    <app-index-2-footer></app-index-2-footer>
    <!--footer-area end-->

    <a id="scrollToTopBtn" class="progress-wrap">
        <i class="bi bi-arrow-up"></i>
    </a>


</div>