<main>
    <!--page-title-area start-->
    <div class="page-title-area pt-215 pb-md-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <div class="page-title-wrapper text-lg-start text-center mb-40">
                        <h2 class="page-title mb-10">About</h2>
                        <nav class="d-none" aria-label="breadcrumb">
                            <ul class="breadcrumb list-none justify-content-center justify-content-md-start">
                                <li><a routerLink="/">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li class="active" aria-current="page">FAQ</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-inline-block">
                    <div class="page-title-btn text-center mb-40">
                        <div class="button-2">
                            <a class="scroll-btn" href="#">
                                <img class="bg-round" src="assets/img/about/s-button-5.png" alt="shape">
                                <span class="icon">
                                    <i class="bi bi-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--page-title-area end-->


    <!-- about-section start -->
    <section class="about-section pt-40">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-text-wrapper-4 mb-30">
                        <div class="upper-title-2 mb-30">Welcome!</div>
                        <h2 class="about-title mb-15">Designing Digital Delights: John's Portfolio</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img-wrapper mb-30">
                        <img class="img-fluid" src="assets/img/about/img-2.jpg" alt="about">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->

    <!-- partners-section start -->
    <div class="theme-bg logos brand-padding mt-90">
        <div class="partners-two logos-slide">
            <div class="items"> <img src="assets/img/brand/brand-12.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-13.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-14.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-15.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-16.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-17.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
        </div>
        <div class="partners-two logos-slide">
            <div class="items"> <img src="assets/img/brand/brand-12.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-13.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-14.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-15.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-16.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
            <div class="items"> <img src="assets/img/brand/brand-17.png" alt="brand"></div>
            <div class="items"><img src="assets/img/icon/icon-1.svg" alt="brand"></div>
        </div>
    </div>
    <!-- partners-section end -->


    <!-- skills-section start -->
    <section class="heding-bg project-section position-relative pt-100 pb-100 pb-lg-70 pt-lg-90">
        <img class="about-shape-01" src="assets/img/shape/square-2.png" alt="shape">
        <img class="about-shape-02" src="assets/img/shape/star-5.png" alt="shape">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 mb-40">
                    <h2 class="wrapper-title text-white mb-20">Recent Projects</h2>
                    <p class="text-white">Interactively enable corporate functionalities rather than front-end
                        catalysts for
                        change. Seamlessly myocardinate collaborative relationships.</p>
                </div>
            </div>
            <div class="row portfolio-wrapper-3 align-items-center">
                <div class="col-md-2 ps-md-0">
                    <span class="me-4">01.</span>
                </div>
                <div class="col-md-8">
                    <h2>Simplicity in Motion</h2>
                </div>
                <div class="col-md-2 pe-md-0">
                    <div class="text-md-end">
                        <a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            </div>
            <div class="row portfolio-wrapper-3 align-items-center">
                <div class="col-md-2 ps-md-0">
                    <span class="me-4">02.</span>
                </div>
                <div class="col-md-8">
                    <h2>Mobile-First Revolution</h2>
                </div>
                <div class="col-md-2  pe-md-0">
                    <div class="text-md-end">
                        <a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            </div>
            <div class="row portfolio-wrapper-3 align-items-center">
                <div class="col-md-2 ps-md-0">
                    <span class="me-4">03.</span>
                </div>
                <div class="col-md-8">
                    <h2>Brand Transformation</h2>
                </div>
                <div class="col-md-2  pe-md-0">
                    <div class="text-md-end">
                        <a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            </div>
            <div class="row portfolio-wrapper-3 align-items-center">
                <div class="col-md-2 ps-md-0">
                    <span class="me-4">04.</span>
                </div>
                <div class="col-md-8">
                    <h2>Interactive Storytelling</h2>
                </div>
                <div class="col-md-2  pe-md-0">
                    <div class="text-md-end">
                        <a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            </div>
            <div class="row portfolio-wrapper-3 align-items-center">
                <div class="col-md-2 ps-md-0">
                    <span class="me-4">05.</span>
                </div>
                <div class="col-md-8">
                    <h2>Infographic Innovation</h2>
                </div>
                <div class="col-md-2  pe-md-0">
                    <div class="text-md-end">
                        <a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- skills-section end -->

    <!-- work-process-section start -->
    <section class="work-processs-section pt-160 pb-125 pt-lg-110 pb-lg-65">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 mb-40">
                    <h2 class="wrapper-title mb-20">Recent Projects</h2>
                    <p>Interactively enable corporate functionalities rather than front-end
                        catalysts for
                        change. Seamlessly myocardinate collaborative relationships.</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="text-box-style mb-55">
                        <div class="icon">
                            <span class="step">01</span>
                            <img src="assets/img/icon/icon-23.svg" alt="icon">
                        </div>
                        <h4 class="process-title mb-15">Create Account</h4>
                        <p>Interactively provide access to world-class materials for catalysts.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-box-style mb-55">
                        <div class="icon">
                            <span class="step">02</span>
                            <img src="assets/img/icon/icon-24.svg" alt="icon">
                        </div>
                        <h4 class="process-title mb-15">Read Rules</h4>
                        <p>Interactively provide access to world-class materials for catalysts.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-box-style mb-55">
                        <div class="icon">
                            <span class="step">03</span>
                            <img src="assets/img/icon/icon-25.svg" alt="icon">
                        </div>
                        <h4 class="process-title mb-15">Ask Problem</h4>
                        <p>Interactively provide access to world-class materials for catalysts.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-box-style mb-55">
                        <div class="icon">
                            <span class="step">04</span>
                            <img src="assets/img/icon/icon-26.svg" alt="icon">
                        </div>
                        <h4 class="process-title mb-15">Get Solution</h4>
                        <p>Interactively provide access to world-class materials for catalysts.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-box-style mb-55">
                        <div class="icon">
                            <span class="step">05</span>
                            <img src="assets/img/icon/icon-24.svg" alt="icon">
                        </div>
                        <h4 class="process-title mb-15">Well Document</h4>
                        <p>Interactively provide access to world-class materials for catalysts.</p>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-inline-block">
                    <div class="text-box-shape text-center mb-55">
                        <img class="shape-01" src="assets/img/shape/round-bg-4.svg" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work-process-section end -->

    <!-- partners-section start -->
    <div class="white-bg partners-section">
        <div class="logos">
            <div class="logos-slide">
                <div class="items"> <img src="assets/img/brand/brand-1.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-2.png" alt="brand"></div>
                <div class="items"> <img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-3.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
            </div>
            <div class="logos-slide">
                <div class="items"> <img src="assets/img/brand/brand-1.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-2.png" alt="brand"></div>
                <div class="items"> <img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-3.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
            </div>
        </div>
    </div>
    <!-- partners-section end -->

    <!-- price-section start -->
    <section class="price-section pt-160 pb-135 pt-lg-110 pb-lg-75">
        <h2 class="wrapper-title text-center mb-60">Pricing For All</h2>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="plan text-center mb-45">
                        <div class="plan-header">
                            <h4>Basic</h4>
                            <img class="black-icon" src="assets/img/icon/icon-14.svg" alt="icon">
                            <img class="white-icon" src="assets/img/icon/icon-14w.svg" alt="icon">
                            <h3 class="price">$125.00</h3>
                            <p class="desc">For 24hr or Same day delivery</p>
                        </div>
                        <div class="plan-body">
                            <ul>
                                <li><span><i class="bi bi-chevron-right"></i></span> 01 Home Page</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 05 Section</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 03 Times Revision</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> Responsive Design</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 24/7 Support</li>
                            </ul>
                        </div>
                        <div class="plan-footer">
                            <a class="ht_btn" routerLink="contact">Get It Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="plan text-center mb-45">
                        <div class="plan-header">
                            <h4>Professional</h4>
                            <img class="black-icon" src="assets/img/icon/icon-15.svg" alt="icon">
                            <img class="white-icon" src="assets/img/icon/icon-15w.svg" alt="icon">
                            <h3 class="price">$225.00</h3>
                            <p class="desc">For 24hr or Same day delivery</p>
                        </div>
                        <div class="plan-body">
                            <ul>
                                <li><span><i class="bi bi-chevron-right"></i></span> 01 Home Page</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 05 Section</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 03 Times Revision</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> Responsive Design</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 24/7 Support</li>
                            </ul>
                        </div>
                        <div class="plan-footer">
                            <a class="ht_btn" routerLink="contact">Get It Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="plan text-center mb-45">
                        <div class="plan-header">
                            <h4>Premium</h4>
                            <img class="black-icon" src="assets/img/icon/icon-16.svg" alt="icon">
                            <img class="white-icon" src="assets/img/icon/icon-16w.svg" alt="icon">
                            <h3 class="price">$525.00</h3>
                            <p class="desc">For 24hr or Same day delivery</p>
                        </div>
                        <div class="plan-body">
                            <ul>
                                <li><span><i class="bi bi-chevron-right"></i></span> 01 Home Page</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 05 Section</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 03 Times Revision</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> Responsive Design</li>
                                <li><span><i class="bi bi-chevron-right"></i></span> 24/7 Support</li>
                            </ul>
                        </div>
                        <div class="plan-footer">
                            <a class="ht_btn" routerLink="contact">Get It Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- price-section end -->

    <!-- contact-section start -->
    <section class="black-bg contact-section pt-100 pb-100 pb-lg-30">
        <h2 class="wrapper-title text-white text-center mb-150 mb-lg-50">Book A Call</h2>
        <div class="left-img">
            <img class="w-100" src="assets/img/media/img-2.jpg" alt="author">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="main-form ms-xl-5">
                        <form action="#" class="ps-xl-4">
                            <label>Name</label>
                            <input type="text" placeholder="Enter your first name">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your e-mail">
                            <label>I’m Interested In</label>
                            <input type="text" placeholder="Enter your first name">
                            <label>Messageme</label>
                            <textarea cols="30" rows="10" placeholder="Write you message"></textarea>
                            <button class="ht-btn-four" type="submit"><i class="bi bi-send"></i> Send
                                Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
</main>