<section class="feedback-section position-relative pt-160 pb-170 pb-lg-100 pt-lg-100">
    <h2 class="wrapper-title text-center mb-60">Our Testimonials</h2>
    <div class="container">
        <div class="row">
            <div class="feedback-active pb-50">
                <owl-carousel-o [options]="option" #feedbackSection>
                    <ng-template carouselSlide>
                        <div class="feedback-wrapper text-center">
                            <div class="rating mb-30">
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                            </div>
                            <p>“This designer's work is simply exceptional – a perfect blend of creativity and
                                functionality.”</p>
                            <div class="auhtor-img">
                                <span><i class="bi bi-quote"></i></span>
                                <img src="assets/img/media/img-1.jpg" alt="author">
                            </div>
                            <h3>Brooklyn Simmons</h3>
                            <img class="shape-01" src="assets/img/shape/round-bg-2.svg" alt="shape">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="feedback-wrapper text-center">
                            <div class="rating mb-30">
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                            </div>
                            <p>“This designer's work is simply exceptional – a perfect blend of creativity and
                                functionality.”</p>
                            <div class="auhtor-img">
                                <span><i class="bi bi-quote"></i></span>
                                <img src="assets/img/media/img-1.jpg" alt="author">
                            </div>
                            <h3>Brooklyn Simmons</h3>
                            <img class="shape-01" src="assets/img/shape/round-bg-2.svg" alt="shape">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="feedback-wrapper text-center">
                            <div class="rating mb-30">
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                            </div>
                            <p>“This designer's work is simply exceptional – a perfect blend of creativity and
                                functionality.”</p>
                            <div class="auhtor-img">
                                <span><i class="bi bi-quote"></i></span>
                                <img src="assets/img/media/img-1.jpg" alt="author">
                            </div>
                            <h3>Brooklyn Simmons</h3>
                            <img class="shape-01" src="assets/img/shape/round-bg-2.svg" alt="shape">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="next_t1 d-none d-lg-inline-block" (click)="feedbackSection.prev()"><i class="bi bi-chevron-left"></i></div>
            <div class="prev_t1 d-none d-lg-inline-block" (click)="feedbackSection.next()" ><i class="bi bi-chevron-right"></i></div>
        </div>
    </div>
</section>