<div class="offcanvas-header border-bottam">
    <div class="close-mobile-menu">
        <a href="javascript:void(0);">
            <i class="fas fa-times" (click)="activeOffcanvas.close('Close click')"></i>
        </a>
    </div>
</div>
<div class="offcanvas-body">
    <div class="offset-widget offset-logo mb-30">
        <a  routerLink="/">
            <img src="assets/img/logo/header-logo-2.png" alt="logo">
        </a>
    </div>
    <div class="mobile-menu-wrapper d-inline-block border-bottam" [ngClass]="{'d-lg-none': currentRoute !== '/index-2'}" >
        <div class="mobile-menu mean-container">
            <div class="mean-bar"><a href="#nav" class="meanmenu-reveal"
                    style="right: 0px; left: auto; display: inline;"><span><span><span></span></span></span></a>
                <nav class="mean-nav">
                    <ul class="menu-list">
                        <ng-container *ngFor="let menu of digitalMenusItems">
                            <li class="ht-item-has-children" *ngIf="menu.subItems?.length; else singleLink">
                                <a>
                                    {{menu.label}}
                                </a>
                                <ul class="sub-menu ht-submenu" [ngbCollapse]="menu.isCollapsed ?? true">
                                    <li *ngFor="let subMenu of menu.subItems"
                                        [ngClass]="{'ht-item-has-children':subMenu.subItems?.length }">
                                        <a [routerLink]="subMenu.link">{{ subMenu.label }}</a>
                                        <ng-container *ngIf="subMenu.subItems?.length;">
                                            <ul class="sub-menu ht-submenu" [ngbCollapse]="subMenu.isCollapsed ?? true">
                                                <li *ngFor="let innerSub of subMenu.subItems">
                                                    <a [routerLink]="innerSub.link">{{innerSub.label}}</a>
                                                </li>
                                            </ul>
                                        </ng-container>
                                        <a class="mean-expand" (click)="toggleInnerCollapse(subMenu)"
                                            style="font-size: 18px" *ngIf="subMenu.subItems?.length;">
                                            {{ subMenu.isCollapsed ? '+' : '-' }}
                                        </a>
                                    </li>
                                </ul>

                                <a class="mean-expand" style="font-size: 18px" (click)="toggleCollapse(menu)"
                                    [ngClass]="{'mean-clicked':!menu.isCollapsed}"> {{!menu.isCollapsed ? '-' :
                                    '+'}}</a>
                            </li>
                            <ng-template #singleLink>
                                <li class="mean-last"><a [routerLink]="menu.link">{{ menu.label }}</a></li>
                            </ng-template>
                        </ng-container>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="offset-widget mb-40 border-bottam">
        <div class="info-widget">
            <h4 class="offset-title mb-20">About Us</h4>
            <p class="mb-30">
                But I must explain to you how all this mistaken idea of denouncing pleasure and
                praising pain was born and will give you a complete account of the system and
                expound the actual teachings of the great explore
            </p>
        </div>
    </div>

    <div class="offset-widget mb-30 pr-10">
        <div class="info-widget info-widget2">
            <h4 class="offset-title mb-20">Contact Info</h4>
            <p>
                <i class="fal fa-address-book"></i>
                23/A, Miranda City Likaoli Prikano, Dope
            </p>
            <p>
                <i class="fal fa-phone"></i>
                +0989 7876 9865 9
            </p>
            <p>
                <i class="fal fa-envelope-open"></i>
                info&#64;example.com
            </p>
        </div>
    </div>
</div>