<app-gear-box></app-gear-box>
<main>
    <!-- theme-main-banner start -->
    <section class="theme-main-banner position-relative pt-100 mt-265 pb-165 mt-md-100 pb-md-10">
        <div class="inner-content text-center pb-300 pb-md-10">
            <h1><span class="title-one">I’m A Ui/UX</span></h1>
        </div>
        <div class="title-wrapper">
            <div class="title-two" data-text="Designer">De<span class="clipping-text">sign</span>er</div>
        </div>
        <div class="author-thumb">
            <img class="d-none d-lg-inline-block" src="assets/img/hero/author-thumb-1.png" alt="author">
            <img class="d-lg-none d-inline-block" src="assets/img/hero/author-md.png" alt="author">
        </div>
        <img class="shape_01 d-none d-lg-inline-block" src="assets/img/shape/star-1.svg" alt="shape">

        <a class="scroll-btn" href="#bt-section">
            <img class="bg-round" src="assets/img/hero/sbutton.png" alt="shape">
            <div class="icon">
                <i class="bi bi-mouse"></i>
            </div>
        </a>
    </section>
    <!-- theme-main-banner end -->

    <!-- about-section start -->
    <section id="bt-section" class="black-bg about-section black-soft-bg position-relative pt-285 pt-md-200 pt-xs-150">
        <img class="shape-01" src="assets/img/shape/star-2.svg" alt="">
        <img class="shape-02" src="assets/img/shape/square.svg" alt="shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-text-wrapper mb-30">
                        <div class="sub-title">Hello</div>
                        <h2 class="name-title mb-15">I’m Anthony</h2>
                        <p>Passionate UI/UX designer dedicated to crafting exceptional digital experiences. With
                            a keen eye for detail and a user-centric approach, I transform ideas into intuitive
                            and visually stunning designs.</p>
                        <ul class="text-list">
                            <li><span>10+</span> Years Experience</li>
                            <li><span>64+</span> Completed Project</li>
                            <li><span>151+</span> Happy Client</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img-wrapper">
                        <img class="img-fluid" src="assets/img/about/about-1.png" alt="about">
                        <img class="shape-03" src="assets/img/shape/round-bg-1.svg" alt="shape">
                        <img class="shape-04" src="assets/img/shape/pattern-1.svg" alt="shape">
                        <img class="shape-05" src="assets/img/shape/pattern-2.svg" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->

    <!-- project-section start -->
    <section class="project-section pt-120 pb-180 pt-100 pb-lg-100">
        <div class="container">
            <h2 class="wrapper-title text-center mb-60">Featured Project</h2>
            <div class="text-wrapper white-bg pt-65 mb-60">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="text-wrapper-one ps-3 px-xl-5 me-xl-5 ms-xxl-4 mb-30">
                            <div class="upper-title mb-25">UI Design</div>
                            <h2 class="section-title mb-20">Bitx - Crypto Dashboard Design</h2>
                            <p>Holisticly fabricate opencatalyst to after top-line catalysts for change.
                                Synergisti
                                communicate installed base..</p>
                            <a class="ht-btn-two" routerLink="project-details"><i class="bi bi-arrow-up-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-img">
                            <img src="assets/img/gallery/img-1.jpg" alt="gallery">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-wrapper white-bg pt-65 mb-60">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="text-wrapper-one ps-3 ps-lg-5 ms-xl-4 mb-30">
                            <div class="upper-title mb-25">Web Design</div>
                            <h2 class="section-title mb-20">FODO - Restaurant Website Design</h2>
                            <p>Holisticly fabricate opencatalyst to after top-line catalysts for change.
                                Synergisti communicate installed base.</p>
                            <a class="ht-btn-two" routerLink="project-details"><i class="bi bi-arrow-up-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="text-img">
                            <img class="webdesign" src="assets/img/gallery/img-2.png" alt="gallery">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-wrapper white-bg pt-65 mb-60">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="text-wrapper-one ps-3 px-xl-5 me-xl-5 ms-xxl-4 mb-30">
                            <div class="upper-title mb-25">UI Design</div>
                            <h2 class="section-title mb-20">Bitx - Crypto Dashboard Design</h2>
                            <p>Holisticly fabricate opencatalyst to after top-line catalysts for change.
                                Synergisti
                                communicate installed base..</p>
                            <a class="ht-btn-two" routerLink="project-details"><i class="bi bi-arrow-up-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-img">
                            <img src="assets/img/gallery/img-4.png" alt="gallery">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-wrapper white-bg pt-65 mb-60">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="text-wrapper-one ps-3 ps-lg-5 ms-xxl-4 mb-30">
                            <div class="upper-title mb-25">Case Study</div>
                            <h2 class="section-title mb-20">Restaurant - Food Delivery Mobile Apps</h2>
                            <p>Holisticly fabricate opencatalyst to after top-line catalysts for change.
                                Synergisti
                                communicate installed base..</p>
                            <a class="ht-btn-two" routerLink="project-details"><i class="bi bi-arrow-up-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="text-img tex-lg-end">
                            <img src="assets/img/gallery/img-3.png" alt="gallery">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-20">
                    <a routerLink="portfolio" class="ht_btn">View All
                        Projects</a>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->

    <!-- skills-section start -->
    <section class="black-bg skills-secion black-soft-bg position-relative pt-100 pb-120">
        <img class="shape-1a" src="assets/img/shape/star-5.png" alt="shape">
        <img class="shape-2a" src="assets/img/shape/square.svg" alt="shape">
        <div class="container">
            <h2 class="wrapper-title text-white mb-60 text-center">My Expertise</h2>
            <div class="row skills-wrapper align-items-center">
                <div class="col-lg-7">
                    <div class="skills-name">
                        <div class="img-holder">
                            <img src="assets/img/gallery/img-5.png" alt="gallery">
                        </div>
                        <span class="me-md-4">01.</span> UI/UX Design
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="skills-desc d-sm-flex justify-content-between">
                        <p class="ms-xl-5">Drama extend resource maximize content whereas ubiquitous.</p>
                        <a class="ht-btn-two ms-sm-4" href="#"><i class="bi bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row skills-wrapper align-items-center">
                <div class="col-lg-7">
                    <div class="skills-name">
                        <div class="img-holder">
                            <img src="assets/img/gallery/img-5.png" alt="gallery">
                        </div>
                        <span class="me-md-4">02.</span> Art Direction
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="skills-desc d-sm-flex justify-content-between">
                        <p class="ms-xl-5">Drama extend resource maximize content whereas ubiquitous.</p>
                        <a class="ht-btn-two ms-sm-4" href="#"><i class="bi bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row skills-wrapper align-items-center">
                <div class="col-lg-7">
                    <div class="skills-name">
                        <div class="img-holder">
                            <img src="assets/img/gallery/img-5.png" alt="gallery">
                        </div>
                        <span class="me-md-4">03.</span> Brand Identity
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="skills-desc d-sm-flex justify-content-between">
                        <p class="ms-xl-5">Drama extend resource maximize content whereas ubiquitous.</p>
                        <a class="ht-btn-two ms-sm-4" href="#"><i class="bi bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row skills-wrapper align-items-center">
                <div class="col-lg-7">
                    <div class="skills-name">
                        <div class="img-holder">
                            <img src="assets/img/gallery/img-5.png" alt="gallery">
                        </div>
                        <span class="me-md-4">04.</span> Design System
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="skills-desc d-sm-flex justify-content-between">
                        <p class="ms-xl-5">Drama extend resource maximize content whereas ubiquitous.</p>
                        <a class="ht-btn-two ms-sm-4" href="#"><i class="bi bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-80">
                    <a class="ht-btn-three" routerLink="contact">Call For Consultation</a>
                </div>
            </div>
        </div>
    </section>
    <!-- skills-section end -->

    <!-- partners-section start -->
    <section class="partners-section pb-90 pb-lg-30">
        <div class="logos container-border">
            <div class="logos-slide">
                <div class="items"> <img src="assets/img/brand/brand-1.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-2.png" alt="brand"></div>
                <div class="items"> <img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-3.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
            </div>
            <div class="logos-slide">
                <div class="items"> <img src="assets/img/brand/brand-1.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-2.png" alt="brand"></div>
                <div class="items"> <img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-3.png" alt="brand"></div>
                <div class="items"><img src="assets/img/brand/brand-line-1.svg" alt="brand"></div>
            </div>
        </div>
        <div class="container pt-160 pt-lg-100">
            <h2 class="wrapper-title text-center mb-60">Trusted Partners</h2>
            <div class="brand-wrapper black-bg">
                <div class="row text-center">
                    <div class="col">
                        <img src="assets/img/brand/brand-4.png" alt="brand">
                    </div>
                    <div class="col d-none d-md-inline-block">
                        <img src="assets/img/brand/brand-5.png" alt="brand">
                    </div>
                    <div class="col d-none d-md-inline-block">
                        <img src="assets/img/brand/brand-6.png" alt="brand">
                    </div>
                    <div class="col d-none d-lg-inline-block">
                        <img src="assets/img/brand/brand-7.png" alt="brand">
                    </div>
                </div>
                <div class="row text-center row-divider">
                    <div class="col">
                        <img src="assets/img/brand/brand-8.png" alt="brand">
                    </div>
                    <div class="col d-none d-md-inline-block">
                        <img src="assets/img/brand/brand-9.png" alt="brand">
                    </div>
                    <div class="col d-none d-md-inline-block">
                        <img src="assets/img/brand/brand-10.png" alt="brand">
                    </div>
                    <div class="col d-none d-lg-inline-block">
                        <img src="assets/img/brand/brand-11.png" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- partners-section end -->

    <!-- feedback-section start -->
    <app-testimonial></app-testimonial>
    <!-- feedback-section end -->

    <!-- contact-section start -->
    <section class="black-bg contact-section contact-bg-1 pt-100 pb-100 pb-lg-30 pt-lg-75">
        <img src="assets/img/shape/square.svg" alt="shape" class="shape-01">
        <h2 class="wrapper-title text-white text-center mb-150 mb-lg-50">Book A Call</h2>
        <div class="left-img">
            <img class="w-100" src="assets/img/media/img-2.jpg" alt="author">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="main-form ms-xl-5">
                        <form action="#" class="ps-xl-4">
                            <label>Name</label>
                            <input type="text" placeholder="Enter your first name">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your e-mail">
                            <label>I’m Interested In</label>
                            <input type="text" placeholder="Enter your first name">
                            <label>Messageme</label>
                            <textarea cols="30" rows="10" placeholder="Write you message"></textarea>
                            <button class="ht-btn-four" type="submit"><i class="bi bi-send"></i> Send
                                Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
</main>